@model IEnumerable<DW_Final_Project.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Pessoas</h1>

<p>
    <a asp-area="Identity" asp-page="/Account/Register">Criar Utilizador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataNasc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascFormatted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagePath)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
            <td>
                    <a asp-controller="Person" asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a asp-controller="Person" asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                    <a asp-controller="Person" asp-action="Delete" asp-route-id="@item.id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
